<form id="form_id" action="/" method="post">
    <label for="">ID #:</label>
    <input type="text" name="id" value="">
    <label for="">Name:</label>
    <input type="text" name="name" value="">
    <button name="button" type="submit">Add</button>


</form>
